.recipe_form {
    margin: 50px 0 0 0;
    max-width: 400px;
    border: 1px solid #ccc!important;
    padding: 16px;
    border-radius: 16px;
}

.options {
    margin: 50px 50px 50px 50px;
    width: fit-content;
    height: fit-content;
    padding: 16px;
}